/*
  ========================================
  Clearfix
  ========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	background: #293f50;
	color: white;
	text:white;
	height: 100%
}
.container {
	padding: 10px;
	width: 1000px;
	margin:auto;
}
.container-body {
	min-width: 1000px;
	margin: auto;
}
.current-item {
	text-decoration: underline;
}
.current-bold {
	font-weight: 800;
}

/*
  ========================================
  Primary header
  ========================================
*/

header {
	font-size: 30px;
}
.logo {
	float: left;
	padding: 15px 0 22px 0;
	height: 180px;
}
.tagline {
	margin: 66px 0 66px 0;
  	text-align: right;
  	font-size:40px;
}
.number {
	font-family: "Open Sans Condensed", sans-serif;
}

/*
  ========================================
  Links
  ========================================
*/

a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #a9b2b9;
}
.contact {
	border-bottom: 2px dashed white;
	font-weight: 700;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
	padding-bottom: 10px;
	padding-top: 10px;
	min-width: 980px;
}
.nav-main {
	text-align: center;
	background: #F2F8FD;
	font-size: 30px;
	padding: 20px;
}
.nav-main a {
	color:#648880;
	margin-right: 10px;
}
.nav-main a::after {
	position: absolute;
	margin-left: 10px;
	content: "|";
	text-decoration: none;
}
.nav-main a:hover {
	text-decoration: underline;
}
.nav-item {
	text-decoration: underline;
}
.nav li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}
.nav li:last-child {
	margin-right: 0;
}
.nav-item::after {
	position: absolute;
	margin-left: 5px;
	content: "/";
	text-decoration: none;
}
.bullet-list {
	list-style-type: disc;
}
.bullet-list li {
	margin-left:15px;
}
.main-menu {
	font-size:18px;
}
.menu {
	line-height: 22px;
}


/*
  ========================================
  Slider
  ========================================
*/

.slider {
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}



