/*
  ========================================
  Custom styles
  ========================================
*/

body {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	background: #293f50;
	color: white;
	height: 100%
}
.container {
	padding: 10px;
	padding-top: 20px;
	width: 1000px;
	margin: 0 auto;
}
.container-body {
	min-width: 1000px;
	margin: auto;
}
.current-item {
	text-decoration: underline;
}
.current-bold {
	font-weight: 800;
}
p {
	line-height: 22px;
}
* {
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
}

/*
  ========================================
  Primary header
  ========================================
*/

header {
	font-size: 30px;
	background: #293f50;
	background:         -webkit-gradient(linear, left top, right bottom, from(#648DAB), to(#1F425B));
	background:         -o-linear-gradient(left top, #648DAB, #1F425B);
	background:         linear-gradient(to right bottom, #648DAB, #1F425B);
}
.company-logo {
	float: left;
	padding: 15px 0 22px 0;
	height: 180px;
}
.tagline {
	margin: 55px 0 55px 0;
  	text-align: right;
  	font-size:40px;
}
.number {
	font-family: "open_sans_condensedlight", sans-serif;
}

/*
  ========================================
  Primary footer
  ========================================
*/

footer {
	background: #F2F8FD;
	position: relative;
	height: 200px;
	color:#648880;
	padding-top: 30px;
}
footer a {
	color: #648880;
	text-decoration: underline;
}
.done-logo {
	float: left;
	height: 50px;
	margin-right: 5px;
	margin-left: 50px;
}
/*
  ========================================
  Links
  ========================================
*/

a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #a9b2b9;
}
.contact {
	color: white;
	border-bottom: 2px dashed white;
	font-weight: 700;
	cursor: pointer;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
	padding-bottom: 10px;
	padding-top: 10px;
	min-width: 980px;
}
.nav-main {
	text-align: center;
	background: #F2F8FD;
	font-size: 30px;
	padding: 20px;
}
.nav-main a {
	color:#648880;
	margin-right: 10px;
	margin-left: 10px;
}
.nav-main a {
	color:#648880;	
}
.nav-main-item::after {
	position: absolute;
	margin-left: 8px;
	color:#648880;
	content: "|";
	text-decoration: none;
}
.nav-main-item li:last-child {
	content:none;
}
.nav-main a:hover {
	text-decoration: underline;
}
.nav li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: top;
}
.nav li:first-child {
	margin-left: 0;
}
.nav li:last-child {
	margin-right: 0;
}
.nav-item {
	text-decoration: underline;
}
.nav-item::after {
	position: absolute;
	margin-left: 7px;
	content: "/";
	text-decoration: none;
}
.bullet-list {
	list-style-type: disc;
}
.bullet-list li {
	margin-left:15px;
}
.main-menu {
	font-size:18px;
}
.menu {
	line-height: 22px;
}
.footer-menu a {
	text-decoration: underline;
	color: #648880;
	line-height: 22px;
}

/*
  ========================================
  Slider
  ========================================
*/

/* Slideshow container */
.slideshow-container {
	width:100%;
	min-width: 1000px;
	height: 500px;
	position: relative;
	margin: auto;
}
.slideshow-container img {
	display: block;
	margin:auto;
	width:100%;
	height: 500px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.mySlides {
	display: none;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	-webkit-transition: 0.6s ease;
	-o-transition: 0.6s ease;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	-webkit-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
}
@-webkit-keyframes fade {
	from {opacity: .5} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .5} 
	to {opacity: 1}
}

/*
  ========================================
  Price list
  ========================================
*/

.price-list figure {
	margin-top: 50px;
}
.price-list img {
	height: 100px;
}
.price-list figcaption {
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
}

/*
  ========================================
  Blocks
  ========================================
*/

.left-block {
	width: 20%;
}
.center-block {
	width: 80%;
	margin: 0 auto;
}
.left-block,
.center-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

/*
  ========================================
  About company
  ========================================
*/

.about-company {
	border-top: 1px solid white;
	margin-top: 40px;
	margin-bottom: 100px;
}
.about-company p {
	margin-top: 20px;
}

/*
  ========================================
  Grid
  ========================================
*/

.grid-1-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.grid-1-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

/*
  ========================================
  Form
  ========================================
*/

#form-popup {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: #F2F8FD; 
	background-color: rgba(0,0,0,0.4); 
}
.feedback-form {
	z-index: 9;
	max-width: 300px;
	margin: 0 auto;
}
.form-container {
	max-width: 300px;
	padding: 20px;
	background-color: #F2F8FD;
	color:#293f50;
	text-align: center;
}
.form-container h2 {
	font-size:18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.form-container textarea {
	resize: none;
}
.form-container input[type=text],
.form-container input[type=tel],
.form-container input[type=email],
.form-container textarea {
	width: 100%;
	padding: 10px;
	margin: 5px 0 22px 0;
	border: none;
	background: #eee;
}
.form-container input[type=text]:focus,
.form-container input[type=tel]:focus, 
.form-container input[type=email]:focus,
.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}
.form-container input:invalid {
	border: 1px solid #EE3D48;
}
.form-container input:valid {
	border: 1px solid #B5FBDD;
}
.send-form {
	background: #D7E1E9;
	color: #293f50;
	width: 100px;
	border-radius: 4px;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	margin-bottom:10px;
	opacity: 0.8;
}
.send-form:hover {
	background: #BEF761;
}

/*
  ========================================
  Products
  ========================================
*/

.product-item {
	background: #F2F8FD;
	height:400px;
	border-radius: 8px;
	text-align: center;
	color: #293f50;
	font-weight: bold;
}
.product-item figure img {
	
	border-radius: 3px;
	-o-object-fit: cover;
	   object-fit: cover;
	height: 250px;
	width: 200px;
	transition: transform .2s ease-out;
}
.hover-container {
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 3px;
	height: 250px;
	width: 200px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.product-item figure img:hover {
	transform: scale(1.15);
	overflow: hidden;
}

.product-item figcaption {
	margin-top: 5px;
	font-size: 18px;
}
.product-item p {
	position: absolute;
	margin-top: 50px;
	margin-left: 24px;
	font-size: 24px;
}
.add-to-cart {
	position: absolute;
	width: 40px;
	margin-top: 40px;
	margin-left: 60px;
}
.pages {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
.page-item {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.page-item-main {
	display: inline-block;
	margin-left: 7px;
	margin-right: 7px;
	font-weight: bold;
	font-size: 18px;
}

/*
  ========================================
  Fonts
  ========================================
*/

@font-face {
    font-family: "open_sans_condensedlight";
    src: url('../fonts/opensanscondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/opensanscondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
